hubsmgr.spec
build/hubsmgr/Analysis-00.toc
build/hubsmgr/base_library.zip
build/hubsmgr/EXE-00.toc
build/hubsmgr/hubsmgr.exe.manifest
build/hubsmgr/hubsmgr.pkg
build/hubsmgr/PKG-00.toc
build/hubsmgr/PYZ-00.pyz
build/hubsmgr/PYZ-00.toc
build/hubsmgr/warn-hubsmgr.txt
build/hubsmgr/xref-hubsmgr.html
build/hubsmgr/localpycs/pyimod01_archive.pyc
build/hubsmgr/localpycs/pyimod02_importers.pyc
build/hubsmgr/localpycs/pyimod03_ctypes.pyc
build/hubsmgr/localpycs/pyimod04_pywin32.pyc
build/hubsmgr/localpycs/struct.pyc
hubsmgr/parsers/__pycache__/specyaml.cpython-310.pyc
hubsmgr/utility/__pycache__/utils.cpython-310.pyc
hubsmgr/parsers/__pycache__/shortsparser.cpython-310.pyc
test/gittest/freetags
hubsmgr/__pycache__/process.cpython-310.pyc
hubsmgr/__pycache__/synccommands.cpython-310.pyc
hubsmgr/gitutils/__pycache__/git.cpython-310.pyc
hubsmgr/gitutils/__pycache__/gitoptions.cpython-310.pyc
hubsmgr/gitutils/__pycache__/sha1utils.cpython-310.pyc
hubsmgr/parsers/__pycache__/hubsparser.cpython-310.pyc
hubsmgr/parsers/__pycache__/parseitem.cpython-310.pyc
hubsmgr/parsers/__pycache__/parserutils.cpython-310.pyc
hubsmgr/parsers/__pycache__/projectsparser.cpython-310.pyc
hubsmgr/providers/__pycache__/archiveproxy.cpython-310.pyc
hubsmgr/providers/__pycache__/gitprovider.cpython-310.pyc
hubsmgr/providers/__pycache__/managedproxy.cpython-310.pyc
hubsmgr/providers/__pycache__/provider.cpython-310.pyc
hubsmgr/providers/__pycache__/providerproxy.cpython-310.pyc
hubsmgr/providers/__pycache__/pythonsync.cpython-310.pyc
hubsmgr/utility/__pycache__/archiveutils.cpython-310.pyc
hubsmgr/utility/__pycache__/arhive.cpython-310.pyc
hubsmgr/utility/__pycache__/logger.cpython-310.pyc
hubsmgr/utility/__pycache__/memoized_method.cpython-310.pyc
hubsmgr/utility/__pycache__/pathutils.cpython-310.pyc
hubsmgr/utility/__pycache__/tararchive.cpython-310.pyc
hubsmgr/utility/__pycache__/ziparchive.cpython-310.pyc
test/hub/pysync
hubsmgr/utility/__pycache__/git.cpython-310.pyc
hubsmgr/utility/__pycache__/gitoptions.cpython-310.pyc
hubsmgr/utility/__pycache__/parserutils.cpython-310.pyc
hubsmgr/utility/__pycache__/sha1utils.cpython-310.pyc
hubsmgr/utility/__pycache__/syncutils.cpython-310.pyc
hubsmgr/parsers/__pycache__/parser.cpython-310.pyc
